
/*Estilo global*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*Propiedad de CSS que incia el comportamiento de los bordes*/
  }
  html,
  body {
    background-color: #1B1C31;
  }
 
  h1{
  color: whitesmoke;
  font-family: 'Rubik Dirt', cursive;
  font-weight: 400;
  text-align: center;
  }
 /*clases*/ 
  .App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    padding-top: 0.9rem;
  }
  .counter_main>.counter_logoContainer{
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    
  }
    .counter_logo{
      width: 80%;
    }
    .counter_buttonCon{
      width: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; 
      align-items: center;
      justify-content: center;
    }
